
.twoSidePrinted{
  display: none;
}

.one-side-25mm{
  position: relative;
  width: 90%;
  height: 91%;
  padding: 15px 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
.os25-img{
  position: relative;
  top: 0px;
  height: 72.1%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
}
.os25-img img{
  position: relative;
  height: 100%;
  width: auto;
  opacity: 1;
  margin: 0 10px;

}
.os25-clip{
  position: absolute;
  top: 68.7%;
  background-color: rgba(0,0,0,.0);
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 13%;
  opacity: 1;
  z-index: -1;
}

.container-one-side-25mm{
  position: relative;
  width: 90%;
  height: 100%;

}
.os25-neck{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 63%;
  clip-path: polygon(28% 0.5%, 72% 0.5%, 87.9% 6.9%, 12.1% 6.9%);
}
.os25-left{
  position: absolute;
  top: 4.4%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 100%;
  clip-path: polygon(13%  0%, 28% 0%,  55% 65.2%, 40% 65.2%);
}
.os25-right{
  position: absolute;
  top: 4.4%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 100%;
  clip-path: polygon(88%  0%, 72% 0%,  40% 65.2%, 55% 65.2%);
}
